<%- include('../partials/jobHeader'); -%>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="/images/user_profile.svg" id="login-img" alt="">
        </div>
        <div class="col-lg-6">
            <main class="form-signin mt-5">
                <form action="/users/<%=user._id%>?_method=PUT" method="POST" , enctype="multipart/form-data">
                    <h1 class="h3 fs-3 mb-3 lead text-center">Edit user "<%=user.name%>"</h1>

                    <div class="form-floating">
                        <input type="text" class="form-control mid-input" id="jobTitle" name="user[name]"
                            value="<%=user.name%>" disabled>
                        <label for="jobTitle">User Name</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="registerName" name="user[username]"
                            value="<%=user.username%>" disabled>
                        <label for="registerName">UserID</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control mid-input" id="lastName" name="user[branch]"
                            value="<%=user.branch%>" disabled>
                        <label for="lastName">User Branch</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control mid-input" id="useremail" name="user[cgpa]"
                            value="<%=user.cgpa%>" disabled>
                        <label for="useremail">User CGPA</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control mid-input" id="useremail" name="personal_email"
                            value="<%=user.personal_email%>">
                        <label for="useremail">User Personal EmailID</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control mid-input" id="useremail" name="mobile_number"
                            value="<%=user.mobile_number%>">
                        <label for="useremail">User Mobile No</label>
                    </div>

                    <div class="form-floating">
                        <input class="form-control mid-file" type="file" name="image" id="file-input">
                        <!-- <input type="text" class="form-control mid-input" id="avatar" name="avatar" value="<%=user.avatar%>"> -->
                        <label for="file-input">Avatar URL</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control mid-input" id="useremail" name="resume_link"
                            value="<%=user.resume_link%>">
                        <label for="useremail">User Resume Link</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="notifAuthor" name="documents_link"
                            value="<%=user.documents_link%>">
                        <label for="notifAuthor">User Documents Link</label>
                    </div>

                    <button class="w-100 btn btn-lg btn-primary" type="submit">Update User</button>
                </form>
            </main>
            <div class="form-signin">
                <a href="/users/<%= user._id %>">Go back</a>
            </div>
        </div>
    </div>

</div>

<%- include('../partials/footer'); -%>

















<!-- <%- include('../partials/userHeader'); -%>
<div class = "container">
	<div class="row justify-content-center">
		JUMBOTRON
		<header class="h-100 p-5 bg-light border rounded-3">
		<h1 style="text-align: center;">edit user <%=user.name%></h1>
		</header>
		
		FORM
		<div style="width: 30%; margin: 25px auto;">
			<form action="/users/<%=user._id%>?_method=PUT" method="POST">
				<div class="input-group mb-3">
					<input class="form-control" type="text" name="user[name]" placeholder="name" value="<%=user.name%>" disabled>
				</div>
				<div class="input-group mb-3">
					<input class="form-control" type="text" name="user[username]" placeholder="username" value="<%=user.username%>" disabled>
				</div>
				<div class="input-group mb-3">
					<input class="form-control" type="text" name="user[branch]" placeholder="branch" value="<%=user.branch%>" disabled>
				</div>
				<div class="input-group mb-3">
					<input class="form-control" type="text" name="user[cgpa]" placeholder="cgpa" value="<%=user.cgpa%>" disabled>
				</div>
				<div class="input-group mb-3">
					<input class="form-control" type="text" name="personal_email" placeholder="personal_email" value="<%=user.personal_email%>">
				</div>
				<div class="input-group mb-3">
					<input class="form-control" type="text" name="mobile_number" placeholder="mobile_number" value="<%=user.mobile_number%>">
				</div>
				<div class="input-group mb-3">
					<input class="form-control" type="text" name="resume_link" placeholder="resume_link" value="<%=user.resume_link%>">
				</div>
				<div class="input-group mb-3">
					<input class="form-control" type="text" name="documents_link" placeholder="documents_link" value="<%=user.documents_link%>">
				</div>
				<div class="form-group">
					<div class="d-grid gap-2">
					  <button class="btn btn-primary" type="submit">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<%- include('../partials/footer'); -%> -->